<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Fruit Project</title>

    <link rel="stylesheet" href="/content/bootstrap.min.css">
    <link rel="stylesheet" href="/content/index.css">

</head>

<body ng-app="FruitApp">

    <div class="container" ng-controller="MainController">
        <h3>Fruit type</h3>
        <div class="container">
            <span ng-repeat="menuItem in FruitTypes">
                <a ng-hide="menuItem.Selected" class="label label-default" style="margin-right: 10px;" ng-click="SelectFruitType(menuItem)">{{menuItem.key}} ({{menuItem.doc_count}})</a>
                <a ng-show="menuItem.Selected" class="label label-success" style="margin-right: 10px;" ng-click="SelectFruitType(menuItem)">{{menuItem.key}} ({{menuItem.doc_count}})</a>
            </span>
        </div>

        <h3>Package size</h3>
        <div class="container">
            <span ng-repeat="menuItem in Quantities">
                <a ng-hide="menuItem.Selected" class="label label-default" style="margin-right: 10px;" ng-click="SelectQuantity(menuItem)">{{menuItem.key}} ({{menuItem.doc_count}})</a>
                <a ng-show="menuItem.Selected" class="label label-success" style="margin-right: 10px;" ng-click="SelectQuantity(menuItem)">{{menuItem.key}} ({{menuItem.doc_count}})</a>
            </span>
          
        </div>



        <div class="row">
            <h3>Result</h3>
            <div>
                <div ng-repeat="product in Result" class="col-md-3 col-xs-8 item">
                    <a ng-href="#/product/{{product.id}}">
                        <img ng-src="/content/{{product.Name}}.jpg" />
                        <div class="info">
                            <div>{{product.Name}} {{product.Quantity}} pcs</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="/content/angular.js"></script>
    <script src="/content/sugar.min.js"></script>
    <script src="/content/index.js"></script>
</body>
</html>
